# Time series analysis

In [55]:
import pandas as pd
import numpy as np
import datetime

In [56]:
s = pd.read_csv('train/images/train_labels.csv', index_col=0)

In [57]:
imgs = set()

In [58]:
for i in s.index:
    if not i[:-3].islower():
        if not ' ' in i:
            imgs.add(i)

In [88]:
imgs = list(imgs)

In [60]:
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(0, len(imgs))]

In [98]:
n = pd.DataFrame()

In [95]:
n[1] = 0

In [120]:
for i in imgs:
    try:
        a = s.loc[i]['class'].value_counts()
        n[i] = a
    except:
        print(i)

22.09-14-17:45.jpg
21.09-14-17:57.jpg
27.09-14-17:41.jpg
27.09-14-17:58.jpg
21.09-14-17:40.jpg
02-15-20:08.jpg
27.09-14-17:50.jpg
21.09-14-17:53.jpg
3-02-15-20:02.jpg
02-15-20:12.jpg
33..jpg
3-02-15-20:14.jpg
21.09-14-17:48.jpg
22.09-14-17:58.jpg
02-15-20:44.jpg
21.09-14-17:46.jpg
27.09-14-17:53.jpg
20.09-14-17:55.jpg
22.09-14-17:50.jpg
27.09-14-17:45.jpg
20.09-14-17:58.jpg
32.09-14-17:39.jpg
27.09-14-17:47.jpg

In [123]:
a = s.loc['22.09-14-17:45.jpg']['class']

In [127]:
pd.Series(a,1)

TypeError: Index(...) must be called with a collection of some kind, 1 was passed

In [99]:
n[s.index[1]] = a

In [118]:
n

,15-02-15-20:17.jpg,5-02-15-20:44.jpg,30.09-14-17:52.jpg,33.09-14-17:57.jpg,3-02-15-20:09.jpg,15-02-15-20:19.jpg,20.09-14-17:50.jpg,32.09-14-17:44.jpg,33.09-14-17:43.jpg,35.09-14-17:44.jpg,...,20.09-14-17:41.jpg,69-02-15-20:07.jpg,27.09-14-17:49.jpg,27.09-14-17:52.jpg,4-02-15-20:08.jpg,02-15-20:07.jpg,26.09-14-17:53.jpg,15-02-15-20:11.jpg,17.09-14-17:58.jpg,20.09-14-17:57.jpg
taxi,6,NaN,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,6.0,3.0,6,NaN,NaN
camper,2,1.0,2.0,NaN,1.0,1.0,NaN,NaN,3.0,1.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
bus,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,1.0,1.0,NaN,2,NaN,NaN
car,2,6.0,2.0,3.0,3.0,NaN,2.0,3.0,6.0,1.0,...,NaN,13.0,1.0,1.0,4.0,4.0,2.0,2,1.0,NaN